:root {
  --ff-primary: -apple-system, BlinkMacSystemFont, "Poppins", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  --color-bg: #fafafa;
  --color-primary: #313131;
  --color-secondary: #c3c3c3;
  --color-alt: #f4f4f4;
  --color-link: #eb596e;

  --fs-xxl: 4.5rem;
  --fs-xl: 3rem;
  --fs-l: 2.5rem;
  --fs-m: 1.4rem;

  --br: 10px;
  --bs: 0 0 0.5rem rgba(0, 0, 0, 0.1);

  --mx-width: 1280px;
}

html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: var(--color-primary);
  font: 300 20px/1.4 var(--ff-primary);
  transition: all 200ms;
}

input,
textarea,
button {
  color: var(--color-primary);
  font-family: var(--ff-primary);
}

ul,
ol,
li {
  list-style: none;
}

ul,
ol,
p {
  margin: 0 0 1.5rem 0;
}

a {
  display: inline-block;
  color: var(--color-primary);
  outline: none;
}

a::after {
  content: "";
  display: block;
  border-bottom: solid 3px var(--color-link);
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

a.nbr::after {
  display: none;
}

a:hover::after {
  transform: scaleX(1);
}

a:link,
a:hover,
a:active,
a:visited {
  text-decoration: none;
}

img {
  max-width: 450px;
  width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
  margin-bottom: 2.5rem;
}

h1 {
  font-size: var(--fs-xxl);
}

h2 {
  font-size: var(--fs-xl);
}

h3 {
  font-size: var(--fs-l);
}

h4 {
  font-size: var(--fs-m);
}

.subheading {
  font-weight: 300;
  margin-top: -1.5rem;
  margin-bottom: 3rem;
}

.btn,
.outline {
  border-radius: var(--br);
  display: inline-block;
  padding: 0.4rem 1.5rem;
  margin-right: 0.75rem;
  min-width: 120px;
}

.btn {
  background: var(--color-link);
  border: 2px solid var(--color-link);
  color: var(--color-bg);
}

.outline {
  background: var(--bg);
  border: 2px solid var(--color-primary);
  color: var(--color-primary);
}

.btn:hover {
  color: var(--color-bg);
}

.outline:hover {
  color: var(--color-primary);
}

.mx--width {
  max-width: var(--mx-width);
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.header {
  background: var(--color-bg);
  padding: 1rem 3rem 3rem;
}

.header__top,
.navigation ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site--logo {
  background: url(/assets/img/rd_logo.svg) center center no-repeat;
  height: 80px;
  width: 80px;
  text-indent: -99999px;
  background-size: cover;
  margin: 0;
}

.navigation ul li {
  margin: 0 1.5rem;
}

.navigation ul li a {
  font-weight: 400;
}

.nav-toggle {
  border-radius: var(--br);
  padding: 1.2rem 0.5rem;
  background: var(--color-primary);
  border: 0 none;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 15px;
  z-index: 1000;
  display: none;
  outline: 0;
}

.hamburger {
  display: block;
  position: relative;
}

.hamburger,
.hamburger::after,
.hamburger::before {
  background: var(--color-bg);
  width: 1.5rem;
  height: 3px;
  transition: transform 250ms ease-in-out;
}

.hamburger::after,
.hamburger::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
}

.hamburger::before {
  top: 8px;
}

.hamburger::after {
  bottom: 8px;
}

.nav-open .navigation {
  transform: translateX(0);
}

.nav-open .hamburger {
  transform: rotate(0.625turn);
}

.nav-open .hamburger::before {
  transform: rotate(90deg) translateX(-8px);
}

.nav-open .hamburger::after {
  opacity: 0;
}

.header__top {
  margin-bottom: 3rem;
}

.header__intro,
.container__about ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4.75rem;
}

.header__intro,
.container__about ul li {
  margin: 5rem 2rem;
}

.header__intro > div,
.container__about ul li > div {
  flex: 1;
}

.header__intro__btn {
  display: flex;
  align-items: center;
  margin-top: 3rem;
}

.header__intro__dev {
  text-align: right;
}

.img--block {
  margin: 0.5rem 0;
}

.text--block {
  text-align: left;
  padding: 3.5rem;
  margin: 0.5rem 0;
}

.container {
  padding: 3rem 0;
  text-align: center;
}

.container > div {
  margin: 0 0 3rem 0;
}

/*

.container__work {
  background: var(--color-bg);
  padding: 3rem;
}

.container__work ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

.container__work ul li {
  border-radius: var(--br);
  position: relative;
  background-size: cover;
  min-height: 250px;
}

.container__work ul li:nth-child(1) {
  background: url(/assets/img/projects/grid1.svg) center center no-repeat;
}

.container__work ul li:nth-child(2) {
  background: url(/assets/img/projects/grid2.svg) center center no-repeat;
}

.container__work ul li:nth-child(3) {
  background: url(/assets/img/projects/grid3.svg) center center no-repeat;
}

.container__work ul li:nth-child(4) {
  background: url(/assets/img/projects/grid4.svg) center center no-repeat;
}

.container__work ul li:nth-child(5) {
  background: url(/assets/img/projects/grid5.svg) center center no-repeat;
}

.container__work ul li:nth-child(6) {
  background: url(/assets/img/projects/grid6.svg) center center no-repeat;
}

.container__work ul li p {
  background: rgba(255, 255, 255, 0.6);
  color: var(--color-primary);
  font-weight: 500;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 0.4rem 0.5rem;
  text-align: center;
  width: 100%;
  margin: 0;
}

.container__work ul li img {
  width: 100%;
  height: auto;
}
*/

.container__team {
  background: var(--color-bg);
  padding: 3rem;
}

.container__team__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
}

.container__team__content > div {
  padding: 3rem;
}

.container__team__content > div:nth-child(1) {
  flex: 1;
}

.container__team__content > div:nth-child(2) {
  flex: 2;
}

.product--list ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
}

.product--list ul li {
  padding: 2.5rem 2.5rem 0.5rem;
  border-radius: var(--br);
  box-shadow: var(--bs);
}

.product--list ul li h4 {
  background-position: 0 center !important;
  padding: 0.5rem 0.5rem 0.5rem 3rem;
}

.product--list ul li:nth-child(1) h4 {
  background: url(/assets/img/icons/devops.svg) 0 0 no-repeat;
}

.product--list ul li:nth-child(2) h4 {
  background: url(/assets/img/icons/designer.svg) 0 0 no-repeat;
}

.product--list ul li:nth-child(3) h4 {
  background: url(/assets/img/icons/backend.svg) 0 0 no-repeat;
}

.product--list ul li:nth-child(4) h4 {
  background: url(/assets/img/icons/developer.svg) 0 0 no-repeat;
}

.container__contact--content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: left;
  padding: 2rem 0 0 0;
}

.contact--form {
  box-shadow: var(--bs);
  width: 45%;
  border-radius: var(--br);
  padding: 3rem;
}

.contact--form ul li {
  margin: 2rem 0 0 0;
}

.contact--form ul,
.contact--form ul li:first-child {
  margin: 0;
}

.contact--form input,
.contact--form textarea {
  border: 1px solid var(--color-secondary);
  border-radius: var(--br);
  padding: 0.7rem 1rem;
  width: 100%;
  outline: none;
  font-size: calc(var(--fs-m) - 0.3rem);
}

.contact--form .btn {
  outline: none;
  cursor: pointer;
  font-size: var(--fs-m);
}

.formSuccess {
  display: none;
  border: 2px solid var(--color-primary);
  padding: 1rem;
  margin: 2rem 0 0 0;
  text-align: center;
  border-radius: var(--br);
  color: var(--color-link);
  font-weight: 500;
  max-width: 500px;
}

.footer {
  background: var(--color-alt);
  padding: 3rem;
  text-align: center;
}

.footer__content {
  margin: 0 0 2.5rem 0;
}

.footer__content h4 {
  margin: 0 0 1.5rem 0;
}

.footer__logo {
  background: url(/assets/img/rd_logo.svg) 0 0 no-repeat;
  text-indent: -99999px;
  display: inline-block;
  height: 95px;
  width: 95px;
}

.footer__logo + p {
  font-size: calc(var(--fs-m) - 0.3rem);
}

.footer__content--links a {
  display: inline-block;
  margin: 0 0.3rem 0.3rem;
  text-indent: -99999px;
  width: 40px;
  height: 40px;
}

.footer__content--links a.twitter {
  background: url(/assets/img/icons/twitter.svg) 0 0 no-repeat;
}

.footer__content--links a.linkedin {
  background: url(/assets/img/icons/linkedin.svg) 0 0 no-repeat;
}

.footer__content--links a.github {
  background: url(/assets/img/icons/github.svg) 0 0 no-repeat;
}

.footer__copyright {
  padding: 0 0 0.5rem;
  font-size: calc(var(--fs-m) - 0.3rem);
  text-align: center;
}

@media (max-width: 900px) {
  :root {
    --fs-xxl: 3.5rem;
    --fs-xl: 2.25rem;
    --fs-l: 1.75rem;
    --fs-m: 1.2rem;
  }

  img {
    width: 70%;
  }

  .header__top,
  .navigation ul,
  .header__intro,
  .container__about ul li,
  .container__team__content,
  .container__contact--content,
  .footer__content ul {
    flex-direction: column;
    margin: 0;
  }
  .header {
    padding: 1.5rem;
  }
  .header__top {
    position: relative;
    min-height: 120px;
  }

  .site--logo {
    position: absolute;
    left: 0;
    top: 0;
  }

  .nav-toggle {
    display: block;
  }

  .navigation {
    position: fixed;
    background: var(--color-link);
    color: var(--color-bg);
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    padding: 6em 0 0 0;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
  }

  .navigation ul li {
    margin: 0 0 1.5rem 0;
  }

  .navigation ul li a {
    color: var(--color-bg);
    padding: 1.5rem;
    font-size: var(--fs-xl);
  }

  .header__intro__dev {
    display: none;
  }

  .container > div {
    margin: 0 0 2rem 0;
    padding: 2rem;
  }

  .container__team__content > div {
    padding: 0;
  }

  .header__intro > div,
  .container__about ul li > div,
  .container__about ul li > div {
    width: 100%;
  }

  .header__intro__dev {
    text-align: center;
  }

  .subheading {
    padding: 0 1rem;
    margin-bottom: 2rem;
  }
  .container__about ul li:nth-child(2) {
    flex-direction: column-reverse;
  }

  .product--list ul {
    display: block;
  }
  .product--list ul li {
    margin: 2.5rem 0;
  }

  .text--block {
    padding: 0 1.5rem;
  }

  .text--block h3 + h4 {
    padding: 0;
  }

  .team--content img {
    width: 100%;
    margin: 1rem 0 0 0;
  }

  .contact--form {
    box-shadow: none;
    width: 100%;
    padding: 0;
    margin: 1.5rem 0 0 0;
  }

  .contact--form ul li {
    margin: 0 0 0.8rem 0;
  }

  .contact--form ul li.column-2 {
    flex-direction: column;
    width: 100%;
  }

  .contact--form ul li.column-2 > div {
    width: 100% !important;
  }

  .contact--form input,
  .contact--form textarea {
    width: 100% !important;
    margin: 0 0 0.9rem 0;
    font-size: var(--fs-m);
  }

  .contact--form ul li label {
    font-size: calc(var(--fs-l) - 0.5rem);
  }

  .footer__content ul li {
    flex: 1 !important;
    margin: 0 0 2.5rem 0;
  }

  .footer__logo + p {
    font-size: calc(var(--fs-l) - 0.3rem);
  }
}

@media (max-width: 420px) {
  .header__intro__btn {
    display: block;
  }
  .header__intro__btn .btn {
    margin: 0 0.5rem 1rem 0;
  }
}
